body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Hack to get clicking on hash href to div working correctly */
.anchor {
  padding-top: 4.25rem;
  margin-top: -4.25rem;
}

.top-border {
  border-top: 1px solid lightgray;
}

.bottom-inset {
  box-shadow: inset 0px -2px 4px rgba(10, 10, 10, 0.1);
}

.construction {
  color: #c75f00;
}

.top-buffer {
  margin-top: 1em;
}
.avatar figure {
  border-radius: 200px;
  box-shadow: 1px 3px 3px rgba(10, 10, 10, 0.2);
}

.avatar img {
  border-radius: 200px;
}

.image .is-256x256 {
  height: 256px;
  width: 256px;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  border: black;
  opacity: 0;
}

p.title.is-bold {
  font-weight: bold;
}

.hello-content {
  max-width: 800px;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.icon-padding {
  margin-left: 0.3em;
}

.is-pattern {
  background: linear-gradient(
      135deg,
      #e6f2ff 22px,
      #dceafa 22px,
      #dceafa 24px,
      transparent 24px,
      transparent 67px,
      #dceafa 67px,
      #dceafa 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #e6f2ff 22px,
        #dceafa 22px,
        #dceafa 24px,
        transparent 24px,
        transparent 67px,
        #dceafa 67px,
        #dceafa 69px,
        transparent 69px
      )0 64px;
  background-color: #e6f2ff;
  background-size: 64px 128px;
}

.is-light-blue {
  background-color: #e6f2ff;
}

.is-light-purple {
  background-color: #f9f6ff;
}

.timeline {
  border-left: 2px solid grey;
  position: relative;
}

.timeline .time-item {
  border-color: #dee5e7;
  padding-bottom: 1px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.timeline .time-item .item-content {
  margin-bottom: 15px;
  margin-left: 15px;
}

.timeline .time-item:after {
  background-color: #ffffff;
  border-color: grey;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: "";
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.timeline .time-item:before {
  content: " ";
  display: table;
}
