body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.construction {
  color: #c75f00;
}

.top-buffer {
  margin-top: 1em;
} 
.avatar img {
  border-radius: 200px;
}

.image .is-256x256 {
      height: 256px;
    width: 256px;
}

p.title.is-bold {
  font-weight: bold;
}

.hello-content {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}


.icon-padding {
  margin-left: 0.3em;
}

.is-light-blue {
  background-color: #f3f8ff;
}

.is-light-purple {
    background-color: #f5f0ff;
}

.is-light-green {
  background-color: #f3fff6;
}

.timeline {
  border-left: 2px solid grey;
  position: relative;
}

.timeline .time-item {
    border-color: #dee5e7;
    padding-bottom: 1px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.timeline .time-item .item-content {
      margin-bottom: 15px;
      margin-left: 15px;
}

.timeline .time-item:after {
      background-color: #ffffff;
      border-color: grey;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      bottom: 0;
      content: '';
      height: 14px;
      left: 0;
      margin-left: -8px;
      position: absolute;
      top: 5px;
      width: 14px;
}
.timeline .time-item:before {
      content: " ";
      display: table;
}